<form class="create-form" name="employeeCreateForm" role="form" ng-submit="createEmployeeCtrl.createEmployee(newEmployee);" novalidate>
    <div class="form-group">
        <label for="newEmployeeFirstName">First Name:
            <!--<span style="color:red" class="error" ng-show="employeeCreateForm.newEmployeeFirstName.$touched && employeeCreateForm.newEmployeeFirstName.$error.required">-->
                <!--Required!-->
            <!--</span>-->
            <!--<span style="color:red" class="error" ng-show="employeeCreateForm.newEmployeeFirstName.$touched && employeeCreateForm.newEmployeeFirstName.$error.pattern">-->
                <!--You may only enter letters!-->
            <!--</span>-->
            <!--<span style="color:red" class="error" ng-show="employeeCreateForm.newEmployeeFirstName.$touched && employeeCreateForm.newEmployeeFirstName.$error.unique">-->
                <!--Must be a unique name!-->
            <!--</span>-->
        </label>
        <input type="text" class="form-control" name="newEmployeeFirstName"
               id="newEmployeeFirstName" ng-model="createEmployeeCtrl.newEmployee.FirstName"
               placeholder="Enter First Name" maxlength="20" pattern="[A-Za-z]+" required>
    </div>
    <div class="form-group">
        <label for="newEmployeeLastName">Last Name:

        </label>
        <input type="text" class="form-control" name="newEmployeeLastName"
               id="newEmployeeLastName" ng-model="createEmployeeCtrl.newEmployee.LastName"
               placeholder="Enter Last Name" maxlength="20" pattern="[A-Za-z ]+" required>
    </div>
    <div class="form-group">
        <label for="newEmployeeAddressLine1">Address Line 1:

        </label>
        <input type="text" class="form-control" name="newEmployeeAddressLine1"
               id="newEmployeeAddressLine1" ng-model="createEmployeeCtrl.newEmployee.AddressLine1"
               placeholder="Enter Address Line 1" maxlength="20" pattern="[A-Za-z ]+" required>
    </div>
    <div class="form-group">
        <label for="newEmployeeAddressLine2">Address Line 2:

        </label>
        <input type="text" class="form-control" name="newEmployeeAddressLine2"
               id="newEmployeeAddressLine2" ng-model="createEmployeeCtrl.newEmployee.AddressLine2"
               placeholder="Enter Address Line 2" maxlength="20" pattern="[A-Za-z ]+" required>
    </div>
    <div class="form-group">
        <label for="newEmployeeCity">City:

        </label>
        <input type="text" class="form-control" name="newEmployeeCity"
               id="newEmployeeCity" ng-model="createEmployeeCtrl.newEmployee.City"
               placeholder="Enter City" maxlength="20" pattern="[A-Za-z ]+">
    </div>
    <!--<div class="form-group">-->
        <!--<label for="newEmployeeCounty">County:-->

        <!--</label>-->
        <!--<input type="text" class="form-control" name="newEmployeeCounty"-->
               <!--id="newEmployeeCounty"-->
               <!--placeholder="Enter County" maxlength="20" pattern="[A-Za-z ]+" required>-->
    <!--</div>-->
    <div class="form-group">
        <label for="newEmployeeState">State: </label>
        <select class="form-control"
                id="newEmployeeState"
                ng-model="createEmployeeCtrl.newEmployee.State"
                <!--ng-options="usstate.StateAbb as usstate.StateName for usstate in createEmployeeCtrl.usstates">-->
            <option value="">No State</option>
        </select>
    </div>
    <div class="form-group">
        <label for="newEmployeeZip">Zip:
            <span style="color:red" class="error" ng-show="employeeCreateForm.newEmployeeZip.$touched && employeeCreateForm.newEmployeeZip.$error.required">
                Required!
            </span>
            <span style="color:red" class="error" ng-show="employeeCreateForm.newEmployeeZip.$touched && employeeCreateForm.newEmployeeZip.$error.minlength">
                You must enter 5 numbers!
            </span>
        </label>
        <input type="text" class="form-control" name="newEmployeeZip"
               id="newEmployeeZip" ng-model="createEmployeeCtrl.newEmployee.Zip"
               placeholder="Enter Zip" pattern="[0-9]+" maxlength="5" minlength="5" required>
    </div>
    <div class="form-group">
        <label for="newEmployeeDateOfBirth">Date Of Birth:
            <!--<span style="color:red" class="error" ng-show="employeeCreateForm.newEmployeeDateOfBirth.$touched && employeeCreateForm.newEmployeeDateOfBirth.$error.required">-->
                <!--Required!-->
            <!--</span>-->
            <!--<span style="color:red" class="error" ng-show="employeeCreateForm.newEmployeeDateOfBirth.$touched && employeeCreateForm.newEmployeeDateOfBirth.$error.date">-->
                <!--Not a valid date!-->
            <!--</span>-->
        </label>
        <input type="text" class="form-control" name="newEmployeeDateOfBirth"
               id="newEmployeeDateOfBirth" ng-model="createEmployeeCtrl.newEmployee.DateOfBirth"
               placeholder="yyyy-MM-dd" min="1950-01-01" max="1995-12-31" required>
    </div>
    <div class="form-group">
        <label for="newEmployeeVaccine">Vaccination Information:

        </label>
        <input type="text" class="form-control" name="newEmployeeVaccine"
               id="newEmployeeVaccine" ng-model="createEmployeeCtrl.newEmployee.Vaccine"
               placeholder="Enter Vaccine Information" maxlength="20" pattern="[A-Za-z ]+">
    </div>
    <div class="form-group">
        <label for="newEmployeeattachedResume">Resume Information:

        </label>
        <input type="text" class="form-control" name="newEmployeeattachedResume"
               id="newEmployeeattachedResume" ng-model="createEmployeeCtrl.newEmployee.attachedResume"
               placeholder="Enter Resume Information" maxlength="20" pattern="[A-Za-z ]+">
    </div>
    <div class="form-group">
        <label for="newEmployeeDepartment">Department: </label>
        <select class="form-control"
                id="newEmployeeDepartment"
                ng-model="createEmployeeCtrl.newEmployee.Department"
                <!--ng-options="usstate.StateAbb as usstate.StateName for usstate in createEmployeeCtrl.usstates">-->
            <option value="">No Department Selected</option>
        </select>
    </div>
    <div class="form-group">
        <label for="newEmployeePhone">Phone Number:

        </label>
        <input type="text" class="form-control" name="newEmployeePhone"
               id="newEmployeePhone" ng-model="createEmployeeCtrl.newEmployee.Phone"
               placeholder="Enter Phone Number" maxlength="20" pattern="[0-9]+" required>
    </div>
    <div class="form-group">
        <label for="newEmployeeEmail">Email:

        </label>
        <input type="email" class="form-control" name="newEmployeeEmail"
               id="newEmployeeEmail" ng-model="createEmployeeCtrl.newEmployee.Email"
               placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label for="newEmployeePassword">Password:

        </label>
        <input type="text" class="form-control" name="newEmployeePassword"
               id="newEmployeePassword" ng-model="createEmployeeCtrl.newEmployee.Password"
               placeholder="Enter Password" maxlength="20" pattern="[A-Za-z ]+">
    </div>
    <button type="submit" class="btn btn-info btn-lg">Submit</button>

    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="createEmployeeCtrl.cancelCreating()">
        Cancel
    </button>
</form>