<ui-view>
    <!--<div>-->

        <!--<button type="button" class="btn btn-link"-->
                <!--ui-sref="wombat.nav.employees.create">-->
            <!--<span class="glyphicon glyphicon-plus"></span>-->
            <!--Create Employee I WET SILAS PANTS-->
        <!--</button>-->
    <!--</div>-->

<!--<hr/>-->
<table>
    <!--<tr ng-repeat="employee in employeesCtrl.employees">-->
    <!--<div class="row"> &lt;!&ndash;START row public profile&ndash;&gt;-->
        <!--&lt;!&ndash;FIRST RESULT&ndash;&gt;-->
        <!--<div class="col-md-6 toppad" >&lt;!&ndash;START COL 6&ndash;&gt;-->
            <!--<div class="panel panel-info"> &lt;!&ndash;START PANEL INFO&ndash;&gt;-->
                <!--<div class="panel-heading"> &lt;!&ndash;START PANEL HEADING&ndash;&gt;-->
                    <!--<h3 class="panel-title">{{ employee.LastName + ', ' + employee.FirstName }}</h3> &lt;!&ndash;NAME&ndash;&gt;-->
                <!--</div>&lt;!&ndash;-END PANEL PANEL-HEADING-&ndash;&gt;-->
                <!--<div class="panel-body"> &lt;!&ndash;START DIVE BODY&ndash;&gt;-->
                    <!--<div class="row"> &lt;!&ndash;START RWO PANEL BODY&ndash;&gt;-->
                        <!--<div class="col-md-3 col-lg-3"> <img alt="User Pic" src="../../assets/img/sam-winchester&#45;&#45;avatar.png" class="img-circle img-responsive profile-image"> &lt;!&ndash;-our public profile image-&ndash;&gt;-->
                        <!--</div>&lt;!&ndash;-END COL-MD-3-&ndash;&gt;-->

                        <!--<div class=" col-md-9 col-lg-9 ">  &lt;!&ndash;START COL MAIN TEXT&ndash;&gt;-->
                            <!--<table class="table table-user-information"> &lt;!&ndash;TABLE USER INFO&ndash;&gt;-->
                                <!--<tbody>-->
                                <!--<tr>-->
                                    <!--<td>Position:</td>-->
                                    <!--<td>Volunteer</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>Department:</td>-->
                                    <!--<td>{{employee.Department}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->

                                    <!--<td>Email</td>-->
                                    <!--<td>{{employee.Email}}</td>-->

                                <!--</tr>-->

                                <!--</tbody>-->
                            <!--</table>-->
                        <!--</div>&lt;!&ndash;-END COL-MD-9-&ndash;&gt;-->
                    <!--</div>&lt;!&ndash;-END ROW-&ndash;&gt;-->
                <!--</div>&lt;!&ndash;-END PANEL-BODY-&ndash;&gt;-->
            <!--</div>&lt;!&ndash;-END PANEL-PANEL INFO-&ndash;&gt;-->
        <!--</div>&lt;!&ndash;-END COL-MD-6-&ndash;&gt;-->
    <!--</div>-->
    <!--</tr>-->

    <tr>
        <!--<th>Edit</th>-->
        <th>Name</th>
        <th>Department</th>
        <th>Email</th>
    </tr>
    <!--Think of this like a forEach loop. It's going to repeat everything from tr to /tr for each employee.-->
    <tr ng-repeat="employee in employeesCtrl.employees">
        <!--<td>-->
            <!--<button type="button"-->
                    <!--class="btn btn-link"-->
                    <!--ui-sref="wombat.nav.employees.edit({employeeId:employee.id})">-->
                <!--<span class="glyphicon glyphicon-pencil"></span>-->
            <!--</button>-->
        <!--</td>-->
        <td>
            <a> <!--You can run functions in the DOM or in the controllers. The key to rendering angular is the double brackets-->
                {{ employee.LastName + ', ' + employee.FirstName }}
            </a>
        </td>
        <td>
            {{employee.Department}}
        </td>
        <td>
            {{employee.Email}}
        </td>
        <td>
            <button type="button"
                    class="close"
                    ng-click="employeesCtrl.deleteEmployee(employee);">
                &times;
            </button>
        </td>
    </tr>

</table>
</ui-view>